<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input">
          <input type="text" class="form-control" [formControl]="searchTerm" placeholder="search products" />
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        </div>
        <ng-container *ngIf="authService.isAdmin">
          <button mat-flat-button (click)="createProduct()">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="!authService.isAdmin">
      <ng-container *ngFor="let item of productList">
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <app-badge [isHidden]="item.sale === 0" [content]="item.sale + '%'"></app-badge>
            <h5 class="field"> {{ item.name }} </h5>
            <p class="field"> {{ item.rating }} </p>
            <p class="field"> {{ item.gender }} </p>
            <p class="field"> {{ item.type }} </p>
            <p><strong>Price:</strong> {{ item.price }}$</p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to cart
            </button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="authService.isAdmin">
      <div class="col-12 pt-3">
        <table [style]="{ width: '100%' }" mat-table [dataSource]="productList" class="mat-elevation-z8">
          <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let product">{{ product.index }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let product">{{ product.name }}</td>
          </ng-container>

          <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef>Rating</th>
            <td mat-cell *matCellDef="let product">{{ product.rating }}</td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let product">{{ product.price }}$</td>
          </ng-container>

          <ng-container matColumnDef="sale">
            <th mat-header-cell *matHeaderCellDef>Sale</th>
            <td mat-cell *matCellDef="let product">{{ product.sale }}%</td>
          </ng-container>

          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef>Created At</th>
            <td mat-cell *matCellDef="let product">
              {{ product.createdAt | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef>Updated At</th>
            <td mat-cell *matCellDef="let product">
              {{ product.updatedAt | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let product">
              <mat-icon (click)="removeItem(product)">delete</mat-icon>
              <mat-icon (click)="updateProduct(product)">update</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="productList?.length !== 0; else elseBlock">
  <mat-paginator #paginator [length]="length" [pageSize]="10" (page)="onPageChange($event)" aria-label="Select page">
  </mat-paginator>
</div>
<ng-template #elseBlock>
  <div class="col-12">
    <h1 class="no-content">No item found.</h1>
  </div>
</ng-template>
