.badge {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(1em, -0.5em);
  background-color: hsl(10deg 100% 60%);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 1.1em;
  border-radius: 100vh;
}
